<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="animated-card animate__animated animate__fadeIn">
    <ion-card-header>
      <ion-img src="../../assets/img/fondoPerfil.jpg" style="border-radius: 10px;" class="img  animate__animated animate__fadeIn"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-avatar class="avatar">
              <img src="../../assets/img/profile.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-title class="container">{{datosPerfil?.name}}</ion-card-title>

        <ion-list>
          <small>Nombre:*</small>
          <ion-item mode="md">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-input placeholder="Nombres" type="name" clearOnEdit="true" clearInput [(ngModel)]="datosPerfil.name" disabled="true">
            </ion-input>
          </ion-item>
          <small>Apellidos:*</small>
          <ion-item mode="md">
            <ion-icon slot="start" name="call-sharp"></ion-icon>
            <ion-input placeholder="Apellidos" type="name" clearOnEdit="true" clearInput [(ngModel)]="datosPerfil.lastname" disabled="true">
            </ion-input>
          </ion-item>
          <small>E-mail:*</small>
          <ion-item mode="md">
            <ion-icon slot="start" name="mail-open-outline"></ion-icon>
            <ion-input placeholder="Mail" type="name" clearOnEdit="true" clearInput [(ngModel)]="datosPerfil.mail" disabled="true">
            </ion-input>
          </ion-item>
          <small>Password:*</small>
          <ion-item mode="md">
            <ion-icon slot="start" name="code-outline"></ion-icon>
            <ion-input placeholder="Password" type="password" clearOnEdit="true" clearInput [(ngModel)]="pass" [disabled]="allowEdit">
            </ion-input>
          </ion-item>
          <small>Edad:*</small>
          <ion-item mode="md">
            <ion-icon slot="start" name="mail-open-outline"></ion-icon>
            <ion-input placeholder="Edad" type="name" clearOnEdit="true" clearInput [(ngModel)]="edad" [disabled]="allowEdit">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Género:*</ion-label>
            <ion-select placeholder="Select gender" (ionChange)="select($event)" color="dark" interface="popover" [disabled]="allowEdit" [value]="genero">
              <ion-select-option value="F">Female</ion-select-option>
              <ion-select-option value="M">Male</ion-select-option>
              <ion-select-option value="O">Otros</ion-select-option>
            </ion-select>
          </ion-item>
          
        </ion-list>
        <ion-grid>
          <br>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" class="button-clean" fill="outline" color="dark" (click)="edit()" strong="true">Editar
                <ion-icon slot="start" color="black" name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" class="button-save" type="submit" strong="true" (click)="aceptar()" [disabled]="allowEdit">Guardar
                <ion-icon slot="start" color="white" name="save"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>