<ion-content>
  <div class="container">
    <div class="header">
    </div>
    <ion-card class="body animate__animated animate__bounceInDown">
      <div class="img">
        <img src="../../assets/img/Logo Filmy.png" class="animate__animated animate__bounce">
      </div>
      <br>
        <ion-list>
          <ion-item mode="md">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-input placeholder="User" type="name" clearOnEdit="true" clearInput="true" [(ngModel)]="user">
            </ion-input>
          </ion-item>
          <ion-item mode="md">
            <ion-icon slot="start" name="lock-open"></ion-icon>
            <ion-input placeholder="Password" type="password" clearOnEdit="true" clearInput="true" [(ngModel)]="pass">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="button-1" (click)="login()">Login
                <ion-icon slot="start" color="white" name="enter-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </div>
</ion-content>