.slide-mas {
    height: 300px;
}

.btn-mas {
    position: relative;
    top: 22%;
}

ion-content{
    --background: #1a1d29;
}

ion-toolbar{
    --background: #10121b;
}

ion-card{
    --background: #10121b;
}