ion-content{
    --background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url('../../assets/img/Movies-background.png') no-repeat center center / cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .header {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 70px;
    }
    
    .img {
    height: 67%;
    width: 67%;
    margin-left: 17%;
    }

    
    .body {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #10121b;
    }
    
    ion-item {
    --border-color: transparent !important;
    --background: #272626;
    border-radius: 14px;
    margin-bottom: 14px;
    margin-top: 1px;
    }
    
    ion-icon {
        color: #31afb4;
    }
    
    ion-input {
    --color: rgb(255, 255, 255);
    }
    
    ion-list {
    background-color: #10121b;
    padding-top: 2%;
    }
    
    .button-1{
    --background:#31afb4;
    margin-top: 10%;
    }
    
    ion-toolbar{
    --background: white; 
    }
    
    .icono{
    color: white;
    }
    
    ion-title{
    color: #31afb4;
    }
    
    .error-container{
    color: #66615B;
    }

    alert-button-group{
        color: white;
        
    }
